<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"/>
        <link rel="shortcut icon" type="x-icon" href="../../public/images/Paswords_GLogo.png"/>
        <title>Password Generator</title>
    </head>

    <body>
        <div id="LabelText">
            <h1 id="GenText"> Generate a</h1>
            <h1 id="RandomPasText"> random password</h1>
            <h2 id="SloganText">never let thoose hackers know your next move.</h2>
        </div>        

        <div id="passwordRelated">
            <button id="generate" onclick="generate()">Generate Passwords</button>
                <hr id="Separator" />
            <div id="passwords">

                <div>
                    <h2 class="pass">GENERIC-PASWORD_1</h2>
                    <h3 class="generation"> >> primera generacion </h3>
                </div>
                
                <div>
                    <h2 class="pass">GENERIC-PASWORD_2</h2>
                    <h3 class="generation"> >> segunda generacion </h3>
                </div>

            </div>
        </div>
    </body>
</html>