body {
    font-family: 'Arvo', serif;
    background: #1D2834;
    text-align: center;
}

hr {
    height: 2px;
    background-color: #253541;
    border:0px solid #2C3E4E;
    width: 70%;
}

.pass {
    font-weight: 100;
    background-color: #253441;
    border-radius: 10px;
    padding: 10px 70px;
    margin: 10px 25px;
    color: #51D990;
}

.generation {
    font-family: inherit;
    margin-top: 0px;
    font-size: 15px;
    background: #1D864E;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #F1F3F4;
}

#LabelText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 55px;
}

#GenText {
    font-size: 60px;
    font-weight: bold;
    color: #F1F3F4;
    margin-bottom: 0px;
}

#RandomPasText {
    font-size: 60px;
    margin: 0px;
    color: #51D990;
}

#SloganText {
    margin-top: 15px;
    color: #AFC0C0;
}

#generate {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    margin-bottom: 30px;
    background: #51D990;
    border: none;
    border-bottom: 6px solid #0F151A;
    border-left: 2px solid #0F151A;
    border-right: 2px solid #0F151A;
    border-radius: 9px;
    color: #F1F3F4;
    text-shadow: 1px 3px 1px #0F151A;
    font-family: inherit;
}

[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"] + label{
    position: absolute;
    padding: 27px 27px;
    cursor: pointer;
    display: inline;
    border: 2px solid #51D990;
    border-radius: 3px;
} 

[type="checkbox"] + label::after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    filter: alpha(opacity=0);
    opacity: 0; 
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    background:#51D990; 
    border-radius: 3px;
}

[type="checkbox"]:checked + label::after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=100);
    opacity: 1;
}

#label {
    margin-left: 70px;
    color: #51D990;
    font-size: 23px;
}

#generate:hover {
    border-bottom: 6px solid #1D864E;
    border-left: 2px solid #1D864E;
    border-right: 2px solid #1D864E;
}

#passwords {
    display: flex;
    justify-content: center;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }